{% extends "default.twig" %}
{% set title = 'A propos' %}
{% block content %}

    <div class="cover-page-container" style='background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/24796393_10215067281374084_7131682086893666082_n.jpg?oh=24cb9bb0a2cd408965bdf6b7ea7526e5&oe=5B02000C")'>
        <div class="cover-page-content">
            <h1 class="cover-page-title"> A propos </h1>
        </div>
    </div>

    <p class="page-p">
        Nous sommes un groupe de 18 pionniers/caravelles localisé à Louviers en Normandie de 14 ans à 17 ans membres de l'association Scout et Guides de France. Pendant 3 semaines en août 2018, nous allons parcourir la France pour jouer un spectacle vivant de marionnettes. Un spectacle qui se veut original, accessible, émouvant et destiné aux jeunes. En mélangeant la danse, le spectacle visuel, la musique et le théâtre. De Bordeaux à Strasbourg en passant par Montpellier ou bien Annecy. Le but est de faire un spectacle solidaire afin de faire découvrir et divertir, à ceux qui n'ont pas forcément la chance ou les moyens de s'évader et rêver. Mais pour faire marcher ce projet et bien le faire, l'argent et la logistique sont primordiaux dans la tournée. Ainsi, pendant 1 an la troupe va s'investir pour récolter de l'argent et préparer le spectacle et la technique.
    </p>
{% endblock %}