{% extends "default.twig" %}
{% set title = 'Soirée carabet - 21 avril' %}
{% set cover = true %}
{% block cover %}

    <div class="cover-cabaret-back">
    </div>
    <div class="cover-cabaret-container">
        <div class="cover-cabaret-content container mx-auto">
            <h1 class="cover-cabaret-title">Soirée Cabaret</h1>
            <h2 class="cover-cabaret-subtitle">21 Avril <span>19h30</span></h2>

            <a href="#booking" class="cover-cabaret-button bg-blue hover:bg-blue-dark text-white font-bold py-3 px-6 rounded font-medium">Réserver</a>
        </div>
    </div>


{% endblock %}
{% block content %}
    <div class="section-mosaic">

        <section class="programmation">

            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/2 left-part">
                    <h2 class="section-mosaic-title"> La programmation</h2>
                    <p>
                        La programmation sera riche avec 4 groupes de musiques de différents styles musicaux à découvrir qui vont s'enchaîner durant toute la soirée. Avec en exclusivité une représentation du spectacle Imaginarium dream qui sera joué en tourné cet été.
                    </p>
                </div>
                <div class="w-full lg:w-1/2 right-part" title="Nos super groupes qui vont jouer">
                    <div class="music-groups-mosaic">
                        <div class="music-groups-item">
                            <div class="music-groups-content">Alex <br> Kono</div>
                        </div>
                        <div class="music-groups-item">
                            <div class="music-groups-content">Nameless</div>
                        </div>
                        <div class="music-groups-item">
                            <div class="music-groups-content">Agrum's <br> Bridge</div>
                        </div>
                        <div class="music-groups-item"
                             style="background-image: url('https://files.lefuturiste.fr/direct/7E5B99659105760F56BD.jpg')">
                            {#<div class="music-groups-content">One Roots Brother</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="eating">
            <div class="">
                <div class="left-part" title="Hum! ça a l'air bon">
                    <img src="https://files.lefuturiste.fr/direct/C9629EEFE031644DB1A0.jpeg" alt="Chargement en cours...">
                </div>
                <div class="right-part">
                    <h2 class="section-mosaic-title"> Manger sur place</h2>
                    <p>
                        Sans payer plus, vous pouvez accèdez au bar pâtes préparé avec nos soins, vous pourrez alors composer votre salade de pâtes personnalisés à partir de nombreux ingrédients disponibles (sauces comprises !). La boisson et le desert sont aussi inclus. Miam!
                    </p>
                </div>
            </div>
        </section>
        <section class="location">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/2 left-part">
                    <h2 class="section-mosaic-title">Mais où es ce ?</h2>
                    <p>La soirée cabaret se situra à l'espace des Arts'Chépontains, <b>Pont de l'arche</b></p>
                </div>
                <div class="w-full lg:w-1/2">
                    <iframe
                            width="600"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC6byX6fRasKvwnkeLEaoCI9XMGpx96Ghg
            &q=Espace des Arts'Chépontains&language=fr" allowfullscreen>
                    </iframe>
                </div>
            </div>

        </section>
        <section class="price" id="price">
            <h2 class="section-mosaic-title">Tarifs</h2>
            <div class="flex flex-wrap price-plan-mosaic">
                <div class="w-full lg:w-1/2 price-plan-item">
                    <div class="price-plan-content">
                        <h2 class="plan-title">6 €</h2>
                        <h4 class="plan-summary">Enfants de moins de 12 ans</h4>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 price-plan-item">
                    <div class="price-plan-content">
                        <h2 class="plan-title">10 €</h2>
                        <h4 class="plan-summary">Adultes</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="booking" id="booking">
            <h2 class="section-mosaic-title">Reservez vite !</h2>

            {#<div class="left-part">#}

                {#Vous pouvez réservez par différents moyens:#}

            {#</div>#}
            <div class="right-parth">

                <div class="booking-ways-mosaic">
                    <div class="booking-ways-item num">
                        <p>Reservez au <b> +33 6 50 41 38 38</b></p>
                    </div>
                    <div class="booking-ways-item email">
                        <p>Reservez avec <b>reservation@scoutsenroute.fr</b></p>
                    </div>
                    <div class="booking-ways-item site">

                        <a href="#" class="booking-button bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">Reserver en ligne</a>

                    </div>
                </div>
            </div>


        </section>
    </div>

{% endblock %}