{% extends "default.twig" %}
{% set title = 'La tournée' %}
{% set cover = true %}
{% set cover_type = "tour" %}
{% block cover %}
    <div class="cover-cabaret-back">
    </div>
    <div class="cover-cabaret-container">
        <div class="cover-cabaret-content container mx-auto">
            <h1 class="cover-cabaret-title">Imaginarium Dream</h1>
            <h2 class="cover-cabaret-subtitle">Du 4 au 25 Août 2018 <span>Dans toute la france</span></h2>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="section-mosaic">
        <section class="show">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-3/4 left-part">
                    <h2 class="section-mosaic-title"> Un Spectacle solidaire</h2>
                    <p style="line-height: 30px; font-size: 16px; padding-right: 0.5em">
                        Notre équipe d'une quinzaine de jeune ont préprarés ce spectacle pendant toute l'année dans le
                        but de jouer un spectacle solidaire combinant danse, comédie musicale pour les grands et les
                        petits. Le tour en Août à pour vocation de jouer ce spectacle dans des centres de loisirs, des
                        hopitaux, devant des enfants, des personnes agées... Il s'agit d'un projet à but non lucratif
                        dans le cadre des Scouts et Guides de France ce qui signifie que le spectacle est joué
                        gratuitement.
                    </p>
                </div>
                <div class="w-full lg:w-1/4 right-part">
                    <img src="https://files.lefuturiste.fr/direct/20E329C5A3B647DA0343.jpg"
                         alt="Chargement en cours..." class="image-showing-tour">
                </div>
            </div>
        </section>
        <section class="places">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/2 left-part">
                    <h2 class="section-mosaic-title">La tournée</h2>
                    <p style="line-height: 30px; font-size: 16px; padding-right: 0.5em">
                        Nous prévoyons de jouer Imaginarium Dream à 10 reprise dans toute la France:

                    <ul class="mt-5 list-city">
                        <li>5 août : Niort</li>
                        <li>8 août : Bordeau</li>
                        <li>9 août : Gradignan</li>
                        <li>10 août : Millau</li>
                        <li>12 août : Grau d'Agde</li>
                        <li>15 août : Palavas-les-Flots</li>
                        <li>17 août : Aix les bain</li>
                        <li>20 août : Passy</li>
                        <li>21 août : Monthey</li>
                        <li>23 août : Strasbourg</li>
                    </ul>
                    </p>
                </div>
                <div class="w-full lg:w-1/2">

                    <div id="mapdiv" style="height: 476px;
margin-bottom: 0.5em !important;">
                    </div>

                </div>
            </div>

        </section>
        <style>
            .list-city {
                list-style-type: square;
                padding-top: 1em;
                padding-bottom: 1em;

            }

            .list-city li {
                margin-bottom: 10px;
                margin-top: 10px;
                font-size: 20px;
            }

            #mapdiv #OpenLayers_Control_Attribution_7 {
                display: none;
            }

            @media (max-width: 700px) {
                #mapdiv,.image-showing-tour {
                    margin-top: 1em;
                }
            }

        </style>
    </div>

    {#<div class="error-container">#}
    {#<div class="error-content">#}
    {#<div class="error-icon">#}
    {#<i class="fas fa-times-circle"></i>#}
    {#</div>#}
    {#<div class="error-text">#}
    {#<h1 class="error-title">Oups! La page n'est pas terminé.</h1>#}
    {#<p class="error-summary">#}
    {#Who can reject the emptiness and stigma of a source if he has the alchemistic light of the sun?#}
    {#</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
{% block scripts %}
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        var size = new OpenLayers.Size(24, 24);
        var offset = new OpenLayers.Pixel(-(size.w / 2), -size.h);

        //niort
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(-0.46552, 46.32308)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //bordeau
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(-0.57650, 44.84053)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //gradinant
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(-0.61378, 44.77384)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //Millau
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(3.07820, 44.09997)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //Grau d'Agde
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(3.45728, 43.28856)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //Palavas-les-Flots
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(3.9353104, 43.530509)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //passy
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(6.68674, 45.92373)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //louviers
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(1.17012, 49.21313)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/ALdeyep.png', size, offset)));

        //Monthey
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(6.94717, 46.25277)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        //Srasbourg
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(7.74502, 48.58372)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), new OpenLayers.Icon('https://i.imgur.com/xQD7J8E.png', size, offset)));

        map.setCenter(new OpenLayers.LonLat(2.153, 46.649)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            ), 6);
    </script>
{% endblock %}
