{% extends "default.twig" %}
{% set title = 'Page non trouvé - 404' %}
{% block content %}
    <div class="error-container">
        <div class="error-content">
            <div class="error-icon">
                <i class="fas fa-times-circle"></i>
            </div>
            <div class="error-text">
                <h1 class="error-title">Oups! La page n'a pas été trouvé.</h1>
                <p class="error-summary">
                    Who can reject the emptiness and stigma of a source if he has the alchemistic light of the sun?
                </p>
            </div>
        </div>
    </div>
{% endblock %}