.tour {
  .left-part {
    margin-bottom: .5em;
    padding-right: 0 !important;
  }
  .right-part {
    img {
      margin-top: 1em !important;
    }
  }
}


.playlist { 
  padding-bottom: 2.3em !important;
  .actions-buttons {
  	.btn {
	width: 100%;
text-align: center;
      font-size: 1em !important;
	margin-bottom: 1em;
	margin-right: 0;
    }
    i {
  	  margin-right: 5px !important;
    }
    width: 100% !important;
   flex-wrap: wrap;	
    justify-content: center !important;
  }
}
