.cover-tour-full-back {
  height: 21em;
  background: black url('https://files.lefuturiste.fr/direct/D4CBAD5C3EEEDA063ECF.jpg');
  background-size: cover;
  background-position-y: center;
}

.header-cover-tour {
  background-color: rgba(142, 68, 173, 0.8) !important;
}

.cover-tour-full-container {
  background-color: rgba(142, 68, 173, 0.8);
  position: absolute;
  top: 6em;
  color: white;
  display: flex;
  padding-top: 3em;
  height: 15em;
  width: 100%;

  .cover-tour-full-title {
    font-size: 3em;

  }

  .cover-tour-full-subtitle {
    margin-top: 0.5em;
    span {
      opacity: 0.8;
      font-size: 0.8em;
      margin-left: 0.5em;
    }
  }

  .cover-tour-full-button {
    display: block;
    margin-top: 2em;
    width: auto;
    float: left;
    text-decoration: none;
  }
}