.posts-mosaic {
  margin-top: 1.5em;

  a {
    text-decoration: none;
  }

  .posts-mosaic-item {
    margin-bottom: 1.5em;
  }

  a {
    color: $light-link-color;
    text-decoration: solid;
  }
  a:hover {
    text-decoration: solid;
    transition: opacity 0.2s;
    opacity: 0.8;
  }

  .posts-mosaic-item-content {
    width: 100%;
  }
}



.posts-mosaic-plus {
  margin-top: 2em;
  margin-bottom: 2em;

  a {
    color: white !important;
  }
}